.container {
    display: flex;
    gap: 30px
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.descContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.username {
    font-weight: 500;
}